.jumbotron {
  padding-top: 6rem;
  background-image: url('img/pexels-negative-space-169573.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#Projects {
  background-image: url('img/422-4225204_circuit-graphic-diagram.png');
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  padding-top: 5rem;
}
